.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.justify-around {
    justify-content: space-around;
}

.justify-evenly {
    justify-content: space-evenly;
}

.align-center {
    align-items: center;
}

.gap-1 {
    gap: 10px;
}

.gap-2 {
    gap: 20px;
}

.p-1 {
    padding: 10px;
}

.p-2 {
    padding: 20px;
}

.px-1 {
    padding-left: 10px;
    padding-right: 10px;
}

.px-3 {
    padding-left: 30px;
    padding-right: 30px;
}



.m-1 {
    margin: 10px;
}

.mx-1 {
    margin-left: 10px;
    margin-right: 10px;
}

.mx-3 {
    margin-left: 30px;
    margin-right: 30px;
}

.my-1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.my-3 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.my-4 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.my-2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.text-light {
    color: white;
}

.fs-1 {
    font-size: .8rem;
}

.fs-2 {
    font-size: 1rem;
}

.fs-3 {
    font-size: 1.3rem;
}

.fs-4 {
    font-size: 1.7rem;
}

.fs-5 {
    font-size: 2.1rem;
}

.fs-6 {
    font-size: 3rem;
}