body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root {
    --color-blue-1: #0e2954;
    --color-blue-2: #0c3c60;
}

.p-0 {
    padding: 0px;
}

.d-flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.jc-center {
    justify-content: center;
}

.al-center {
    align-items: center;
}

.title {
    font-weight: 500;
    font-size: 3rem;
    margin: 0px;
}

.row {
    display: flex;
}

.col {
    flex: 1;
}

.col-7 {
    flex: 7;
}

.col-3 {
    flex: 3;
}

.gap-column-2 {
    column-gap: 20px;
}

.gap-column-5 {
    column-gap: 50px;
}

.gap-row-4 {
    row-gap: 40px;
}


.form-block {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    text-align: left;
}

.form-label {
    display: block;
}

.form-input {
    width: 100%;
    font-size: 1.5rem;
    padding: 10px;
    background-color: transparent;
    border: 1px solid white;
    outline: 0px;
    text-align: left;
    border-width: 0px 0px 1px 0px;
}