h3{
               
    border-bottom: 2px solid cornflowerblue;
    width:fit-content;
    background-color: rgb(198, 235, 255);
    color: rgb(245, 80, 138);
}

span{
    border: 1px solid steelblue;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 4px;
}

div{
    border: 2px solid gray;
    margin-top: 40px;
    padding-left: 5px;
    padding-bottom: 10px;
}